body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-1gwv7ie-MuiCardMedia-root {
  padding-top: 0;
}

a {
  color: #fff;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
}
